<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Online Password Validation Check</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-5"> 
		<h2 class="mb-5">Online Password Validation Check</h2>
		<div class="row">
			<div class="col-md-6">
				<form action="#" th:action="@{/passwordValidate}" th:object="${user}" method="POST">

					<div class="form-group">
						<input type="text" th:field="*{password}" class="form-control"
							id="password" placeholder="password">
						<input type="submit" class="btn btn-primary" value="Submit">
				    </div>
                    <div class="form-group">
							<ul class="text-danger"
                                        th:each="error: ${errors}">
                                        <li>
                                            <p class="error-message"
                                               th:text="${error.errorDesc}"></p>
                                        </li>
                              </ul>
                    	<span th:if="${valid} == true">Password is valid</span>       
					</div>


				</form>
			</div>
		</div>
	</div>
</body>
</html>